* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 0 0 0;
}

.text {
    font-size: 2.5rem;
    margin: 0 0 20px 0;
}

input {
    width: 500px;
    height: 40px;
    padding: 0 20px;
    border-radius: 50px;
    border: 1px transparent solid;
    transition: .5s;
    background: rgba(221, 221, 221, 0.589);
}

input:hover {
    background: #ccc;
    transition: .5s;
    border: 1px rgb(66, 66, 66) solid;
}

input:focus {
    outline: 0;
}

::placeholder {
    font-size: 1.15rem;
}

#but {
    background: rgba(212, 21, 69, 0.877);
    padding: 10px 40px;
    border-radius: 50px;
    color: white;
    border: 1px transparent solid;
    transition: .5s;
}

#but:hover {
    background: rgba(158, 0, 40, 0.836);
    transition: .5s;
    border: 1px rgba(59, 0, 15, 0.836) solid;
}

#uu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    margin: 30px;
}

#ll {
    list-style-type: none;
    background: #eee;
    width: 500px;
    height: 40px;
    margin: 10px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    padding: 0 0 0 20px;
    transition: .5s;
}

#ll:hover {
    background: #ccc;
    cursor: pointer;
    transition: .5s;
}